<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="logo">図書館システム</h1>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to '検索', '#', class: 'header-link' %>
        <%= link_to 'ダッシュボード', '#', class: 'header-link' %>
        <%= link_to 'ログイン', '#', class: 'header-link' %>
      </div>
    </div>
  </div>
</header>